
data_backup.json
desktop.ini
.DS_Store
.env
env/
ENV/
# Environment variables (RAHASIA!)
.env.*.local
.env.local
# IDE
.idea/
*.key
*.log
# Logs
# OS
*.pem
# Project specific
__pycache__/
*.py[cod]
# Python
.Python
# Secrets
secrets.json
sfc-terminal
*.so
*.swo
*.swp
Thumbs.db
*.tmp
.venv/
venv/
.vscode/
